.bgImg{
  background-image: url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background_53876-115288.jpg?t=st=1654858316~exp=1654858916~hmac=667276496f831e53760ab450fe38ceee0770f50523b3712913721181623af0f8&w=360");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}


