<mat-card>

  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <mat-form-field>
      <input matInput type="text" name="title" ngModel placeholder="Post Title" required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel placeholder="Post Content" required #descr="ngModel"></textarea>
      <mat-error *ngIf="descr.invalid">Please enter a description</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>

</mat-card>

