<footer class="position-static">
  <div class="container d-flex flex-row justify-content-between align-items-center">
    <div>
      <h4 class="mt-4">From Our <span style="color: orangered"> BLOG</span></h4>
      <div class="d-flex flex-row mt-3">
        <div class="ml-3">
          <small>15 July</small>
          <br>
          <small>2022</small>
        </div>
        <div>
          <div class="mt-1 ml-3">
            <h6>Post Number One</h6>
            <small>It is a long established fact that a reader will be distracted by the readable content of <br>
              a page when looking at its layout. </small>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row mt-3">
        <div class="ml-3">
          <small>9 June</small>
          <br>
          <small>2022</small>
        </div>
        <div>
          <div class="mt-1 ml-3 mb-4">
            <h6>Post Number Two</h6>
            <small>It is a long established fact that a reader will be distracted by the readable content of <br>
              a page when looking at its layout. </small>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <h4>From Our <span style="color: orangered"> CLIENTS</span></h4>
        <div class="d-flex flex-row justify-content-between mb-2 ">
          <button class="arrow"><</button>
          <button class="arrow">></button>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="bubble">
          <div>
            <p>Find success? <br> Whatever it takes to get you there,<br> don't look back! </p>
            <hr>
            <p class="obama">Barack Obama</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
