<nav>
    <div class="navbar navbar-expand w-100 navbar-dark bg-dark">
      <div class="container">
      <h3>Creative</h3>
      <ul class=" navbar-nav ms-auto">
        <li><a routerLink="/home" routerLinkActive="active" class="nav-link ">Home</a></li>
        <li><a routerLink="/followus" routerLinkActive="active" class="nav-link ">Follow Us</a></li>
        <li><a routerLink="/pricing" routerLinkActive="active" class="nav-link ">Pricing</a></li>
        <li><a routerLink="/followers" routerLinkActive="active" class="nav-link ">Followers</a></li>
      </ul>
    </div>
    </div>
  <div class="sliderSection">
    <h4 class="mt-3">Clean and Beautiful Website Template</h4>
    <div class="images">
      <div class="forZoom" [ngClass]="{zoom: images[robotKey]}">
      </div>
      <div class="forZoom" [ngClass]="{zoom: images[weddingKey]}">
      </div>
      <div class="forZoom" [ngClass]="{zoom: images[fredricksonKey]}">
      </div>
      <div class="forZoom" [ngClass]="{zoom: images[shrekKey]}">
      </div>
    </div>
    <ol>
      <li class="dot" [ngClass]="{active: images[robotKey]}" (click)="selectImage(robotKey)"></li>
      <li class="dot" [ngClass]="{active: images[weddingKey]}" (click)="selectImage(weddingKey); "></li>
      <li class="dot" [ngClass]="{active: images[fredricksonKey]}" (click)="selectImage(fredricksonKey); "></li>
      <li class="dot" [ngClass]="{active: images[shrekKey]}" (click)="selectImage(shrekKey); "></li>
    </ol>
  </div>
</nav>


