<section>
  <div class="container">
    <div>
      <div class="mb-5 mt-5">
        <h5>ABOUT <span style="color: orangered">COMPANY </span></h5>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a
          type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.</p>
      </div>
      <div>
        <p class="creative">Creative is a simple and beautiful template for freelancers and business owners to showcase
          their
          services</p>
      </div>
      <div class="d-flex flex-row">
        <div class="mt-5 ">
          <img src="assets/web.jpeg" class="img_item ">
          <img src="assets/wordpress.jpg" class="img_item ml-90px">
          <img src="assets/high.png" class="img_item ml-90px">
          <img src="assets/rainbow.png" class="img_item ml-90px  ">
        </div>
      </div>


      <div class="d-flex flex-row">
        <div class="d-flex flex-row justify-content-start">
          <h6 class="ml-50px mt-4">Mobile Development</h6>
          <h6 class="ml-190px mt-4">Wordpress Services</h6>
          <h6 class="ml-210px mt-4">Link Building</h6>
          <h6 class="ml-250px mt-4">Branding and UI</h6>
        </div>
      </div>

      <div class="d-flex flex-row">
        <p class="smallTxt ml-20px">There are many variations of passages of<br> Lorem Ipsum available,but the
          majority
          have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br> look
          even slightly believable.
        </p>
        <p class="smallTxt ml-110px">There are many variations of passages of<br> Lorem Ipsum available,but the
          majority
          have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br> look
          even slightly believable.
        </p>
        <p class="smallTxt ml-130px">There are many variations of passages of<br> Lorem Ipsum available,but the
          majority
          have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br> look
          even slightly believable.
        </p>
        <p class="smallTxt ml-130px">There are many variations of passages of<br> Lorem Ipsum available,but the
          majority
          have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br> look
          even slightly believable.
        </p>
      </div>

    </div>
  </div>
</section>
