<section class="position-static">
  <div class="container">
    <div>
      <div class="mb-5 mt-5">
        <h5>ABOUT <span class="orangeRed">COMPANY </span></h5>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a
          type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.</p>
      </div>
      <div>
        <p class="creative">Creative is a simple and beautiful template for freelancers and business owners to showcase
          their
          services</p>
      </div>
      <div class="d-flex flex-row justify-content-center mb-5">
        <div class="d-flex mt-5 marginLeft">
          <div class="me-5">
            <div class="img-with-text">
              <img src="assets/web.jpeg" class="img_item"/>
              <h6 class="orangeRed mt-4">Mobile Development</h6>
            </div>
            <small>There are many variations of passages of<br> Lorem Ipsum available,but
              the
              majority
              have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br>
              look
              even slightly believable.
            </small>
          </div>
          <div class="me-5">
            <div class="img-with-text">
              <img src="assets/wordpress.jpg" class="img_item"/>
              <h6 class="orangeRed mt-4">Wordpress Services</h6>
            </div>
            <small>There are many variations of passages of<br> Lorem Ipsum available,but
              the
              majority
              have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br>
              look
              even slightly believable.
            </small>
          </div>
          <div class="me-5">
            <div class="img-with-text">
              <img src="assets/high.png" class="img_item"/>
              <h6 class="orangeRed mt-4">Link Building</h6>
            </div>
            <small>There are many variations of passages of<br> Lorem Ipsum available,but
              the
              majority
              have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br>
              look
              even slightly believable.
            </small>
          </div>
          <div>
            <div class="img-with-text">
              <img src="assets/rainbow.png" class="img_item"/>
              <h6 class="orangeRed mt-4">Branding and UI</h6>
            </div>
            <small>There are many variations of passages of<br> Lorem Ipsum available,but
              the
              majority
              have <br> suffered alteration in some form, by injected<br> humour,or randomised words which don't<br>
              look
              even slightly believable.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
