<nav>
  <div class="navbar navbar-expand w-100 navbar-dark bg-dark">
    <div class="container">
      <h3>Creative</h3>
      <ul class=" navbar-nav ms-auto">
        <li><a routerLink="/home" routerLinkActive="active" class="nav-link ">Home</a></li>
        <li><a routerLink="/followus" routerLinkActive="active" class="nav-link ">Follow Us</a></li>
        <li><a routerLink="/pricing" routerLinkActive="active" class="nav-link ">Pricing</a></li>
        <li><a routerLink="/followers" routerLinkActive="active" class="nav-link ">Followers</a></li>
      </ul>
    </div>
  </div>
</nav>
